.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  gap: 3.75rem;
}

.aside h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.aside p {
  font-size: 0.9rem;
  margin-top: 1.6rem;
  max-width: 32.5rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formInputs label {
  font-size: 0.8rem;
}

.formInputs input {
  font-size: 1rem;
  padding-left: 10px;
  display: flex;
  margin-top: 0.45rem;
  margin-bottom: 1.25rem;
  width: 21.25rem;
  height: 1.88rem;
  border: 1px solid #707070;
}

.formInputs input:focus-within {
  outline-color: #bebebe;
}

.checkboxes label,
.checkboxes input {
  cursor: pointer;
}

.checkboxes label {
  margin: 0 8px;
}

.form button {
  color: #707070;
  margin-top: 1.25rem;
  padding: 11px 0;
  border-radius: 4px;
  border: 1px solid #707070;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  color: rgb(100, 100, 100);
  border: 1px solid #bebebe;
  box-shadow: 4px 4px 4px #bebebe;
}

@media screen and (max-width: 929px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .aside {
    padding: 0 25px;
  }
}
