.paragraph {
  width: max-content;
  margin: 0 auto 2.34rem;
}

.inputsContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.inputsContainer div {
  display: flex;
  flex-direction: column;
}

.form input {
  font-size: 1rem;
  padding-left: 10px;
  display: flex;
  margin-top: 0.45rem;
  margin-bottom: 1.25rem;
  width: 21.25rem;
  height: 1.88rem;
  border: 1px solid #707070;
}

.form input:focus-within {
  outline-color: #bebebe;
}

.form button {
  display: block;
  margin: 2rem auto 0;
  color: #707070d3;
  padding: 6px 63px;
  border-radius: 4px;
  border: 1px solid #707070c5;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  color: rgb(100, 100, 100);
  border: 1px solid #bebebe;
  box-shadow: 4px 4px 4px #bebebe;
}

@media screen and (max-width: 678px) {
  .paragraph {
    width: 90%;
    margin: 0 auto 2.34rem;
  }

  .inputsContainer {
    flex-direction: column;
    align-items: center;
    gap: 1.15rem;
  }
}
