.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
  color: #fff;
  height: 24.938rem;
  background-image: url('../assets/bg-header.svg');
  background-position: center;
  position: relative;
  width: 100%;
}

.header > strong {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.03vw;
}

.header > h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.header p {
  margin-bottom: 3.125rem;
}

.footer {
  display: flex;
  gap: 2.5rem;
}

.footer div {
  display: flex;
  gap: 2.5rem;
}

.footer a {
  text-decoration: none;
  background-color: #ffffff;
  color: #888888;
  padding: 0.75rem 1.9rem;
  border-radius: 4px;
  box-shadow: 0px 1px 6px #00000029;
  transition: 0.3s;
}

.footer a:hover {
  color: white;
  background-color: #888888;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .header strong,
  h1,
  p {
    align-self: flex-start;
    margin-left: 1rem;
    padding-right: 0.5rem;
  }

  .header p {
    margin-bottom: 1.6rem;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
  }

  .footer div:first-child a {
    padding: 1rem 1rem;
  }

  .footer div:nth-child(2) a:first-child {
    padding: 1rem 1.3rem;
  }

  .footer div:nth-child(2) a:last-child {
    padding: 1rem 2.3rem;
  }
}
