.wrapper {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
    overflow-x: hidden;
  }
}
